application: #fill your appid here
version: 2-3-0
runtime: python27
api_version: 1
threadsafe: true

libraries:
- name: ssl
  version: latest

handlers:
- url: /.*
  script: main.app
  secure: always
